body{
    background-color: #E6EFF6;
    display: flex;
    justify-content: center;

}
#inner-body {
    width: 45%;
    margin-top: 60px;
    box-sizing: border-box;
}
#join-community{
    background-color: #ffffff;
    border-radius: 20px;
}
#join, #hassle-free, #gain-access {
    margin: 20px;
}

#join {
    background-color: white;
    color: #48A5A1;
    padding-top: 30px;
}

#hassle-free{
    color: #C8DC6D;
}

.gain-access {
    color: #DFE2EC;
    margin-left: 20px;
}
@media (max-width: 600px) {  
        div #sub-container, div #why-us, div button {
            width: 100%;
        }
        #why-us{
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

        }
        div #sub-container {
            border-bottom-left-radius: 0px;
        }
        #inner-body {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }
}
   
div #container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 10px;
}
#subscription {
    padding: 20px;
}

#sub-container {
    background-color: #2BB3B1;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
}
#sub-container, #why-us{
    width: 50%;
    color: white;
}
h2{
    padding-top: 0px;
}
#why-us {
    background-color: #4ABEBD;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
}

#sub-button{
    padding: 20px;
    padding-top: 0px;
    text-align: left;
}
button {
    width: 100%;
    font-size: 20px;
    background-color: #BFDF32;
    color: white;
    border: 1px solid #BFDF32;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
}
li{
    padding-top: 5px;
    font-size: 15px;
}